.tab-progress{
    background-color: #2A2634;
}

.completed{
    background-color: #8B5CF6;
}
.card-title{
    color:white;
}
.texts{
    color:black;
}

.title-task{
    color: black;
}
.btn-remove{
    background-color: red;
}